body{
    font-family: 'Times New Roman', Times, serif;
}
.card{
    width: 260px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

.parent{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.google-card{
    width: 430px;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 10px;
    margin: 16px auto;
}
.google-card-img{
    height: 80px;
}
.flex{
    display: flex;
}
.card-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    padding: 16px auto;
    margin: 10px auto;
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 26px;
}
.links{
    display: flex;
    gap:8px;
    align-items: center;
}
.link{
    color: rgb(63, 16, 205);
    text-decoration: none;
}
.btn{
    background-color: rgb(129, 207, 243);
    color: white;
    padding: 14px 26px;
    border-radius: 12px;
    font-size: 16px;
    border: none;
}
.search{
    width: 400px;
    display: flex;
}
.input{
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 12px ;
    width: 100%;
}
.search-btn{
    background-color: transparent;
    padding: 0;
    border:none;
    margin-left: -36px;
}